Repository upb-uc4/ui-web, pull requests merged in 2020-10, with the labels that each got.

#552 Force burger menu to close when a new view is served
  CHANGELOG.md
  src/components/navigation/navbar/mobile/common/BaseNavbar.vue
  src/use/router/index.ts
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
  src/use/store/state.ts
  tests/e2e/navbarMobile.spec.ts
Labels: bug, responsive, visual, vue

#561 Bugfix/navbar profile picture
  CHANGELOG.md
  src/components/navigation/navbar/desktop/common/profile/ProfileMenu.vue
  src/components/profile/ProfilePictureSection.vue
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
Labels: vue

#555 [Mobile] Add responsive design to "create account" in admin view
  CHANGELOG.md
  src/components/account/edit/BirthDatePicker.vue
  src/components/account/edit/sections/AddressSection.vue
  src/components/account/edit/sections/PersonalInformationSection.vue
  src/components/account/edit/sections/PersonalSection.vue
  src/views/admin/EditCreateAccountForm.vue
Labels: responsive, visual, vue

#575 Bugfix/navbar menu links
  CHANGELOG.md
  src/components/navigation/navbar/desktop/common/MenuItem.vue
Labels: bug, hacktoberfest-accepted, vue

#584 Release/v0.10.0
  CHANGELOG.md
  package.json
Labels: release, vue

#585 Release/v0.10.0
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/account/edit/BirthDatePicker.vue
  src/components/account/edit/sections/AddressSection.vue
  src/components/account/edit/sections/LecturerInformationSection.vue
  src/components/account/edit/sections/PersonalInformationSection.vue
  src/components/account/edit/sections/StudentInformationSection.vue
  src/components/account/edit/sections/UserSecuritySection.vue
  src/components/navigation/navbar/desktop/common/MenuItem.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/mobile/common/BaseNavbar.vue
  src/components/profile/PersonalSection.vue
  src/components/profile/ProfilePictureSection.vue
  src/use/router/index.ts
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
  src/use/store/state.ts
  src/views/admin/EditCreateAccountForm.vue
  tests/e2e/navbarMobile.spec.ts
Labels: release, vue

#591 Bugfix: Incrementing/decrementing course participant limit
  CHANGELOG.md
  src/components/course/edit/sections/RestrictionsSection.vue
  tests/e2e/lecturerCourseManagement.spec.ts
Labels: bug, vue

#592 Remove vue-cli-plugin-vue-next
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies, low priority, vue

#602 Mobile Design for Course Lists
  CHANGELOG.md
  src/components/course/list/lecturer/LecturerCourse.vue
  src/components/course/list/student/StudentCourse.vue
  tailwind.config.js
Labels: bug, responsive, visual, vue

#596 Adjust Mobile View for Account Overview and Course List
  CHANGELOG.md
  src/components/account/list/RoleFilter.vue
  src/components/account/list/UserRow.vue
  src/components/course/list/common/CourseTypeFilter.vue
  src/views/admin/AdminAccountList.vue
  src/views/shared/CourseList.vue
Labels: bug, responsive, visual, vue

#621 Replace placeholder icons with icons that are already in use in app
  CHANGELOG.md
  src/components/navigation/navbar/desktop/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/desktop/admin/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/mobile/admin/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/student/courses/CourseMenuBody.vue
Labels: hacktoberfest-accepted, visual, vue
