Repository upb-uc4/ui-web, pull requests merged in 2020-11, with the labels that each got.

#650 adjust error pages for mobile usage
  CHANGELOG.md
  src/views/errors/403.vue
  src/views/errors/404.vue
Labels: bug, responsive, visual, vue

#649 fix mobile icon of account menu
  CHANGELOG.md
  src/components/navigation/navbar/mobile/admin/administration/ManageAccountsMenuBody.vue
Labels: bug, responsive, visual, vue

#646 remove mobile delete button in create forms
  CHANGELOG.md
  src/views/admin/EditCreateAccountForm.vue
  src/views/shared/EditCreateCourseForm.vue
Labels: bug, responsive, visual, vue

#651 center profile picture on mobile view
  CHANGELOG.md
  src/components/profile/ProfilePictureSection.vue
Labels: bug, low priority, responsive, visual, vue

#648 fix spacing on student course list
  CHANGELOG.md
  src/views/student/StudentCourseList.vue
Labels: responsive, visual, vue

#564 Certificates
  .jest/setupCryptoTests.tsx
  package-lock.json
  package.json
  src/App.vue
  src/api/CertificateManagement.ts
  src/api/api_models/certificate_management/Certificate.ts
  src/api/api_models/certificate_management/EncryptedPrivateKey.ts
  src/api/api_models/certificate_management/EnrollmentId.ts
  src/components/common/dev/Versions.vue
  src/components/modals/DecryptPrivateKeyModal.vue
  src/components/modals/EncryptPrivateKeyModal.vue
  src/components/settings/CertificateSection.vue
  src/use/crypto/certificates.ts
  src/use/crypto/formatPem.ts
  src/use/store/action-types.ts
  src/use/store/actions.ts
  src/use/store/getters.ts
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
  src/use/store/state.ts
  src/views/common/Login.vue
  src/views/common/Settings.vue
  tests/e2e/certificateManagement.spec.ts
  tests/unit/api/certificateManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
  tests/unit/crypto.spec.ts
  tests/unit/tsconfig.json
  tsconfig.json
Labels: vue

#642 Proposal signing
  CHANGELOG.md
  package-lock.json
  package.json
  public/hlf-proto.json
  src/api/api_models/matriculation_management/SubjectMatriculation.ts
  src/api/api_models/transactions/Proposal.ts
  src/api/helpers/ProposalValidator.ts
  src/api/helpers/ProtobuffDecoding.ts
  src/api/helpers/UC4Identifier.ts
  src/components/modals/EncryptPrivateKeyModal.vue
  src/components/settings/CertificateSection.vue
  src/use/crypto/certificates.ts
  src/use/crypto/signing.ts
  tests/unit/proposalSigning.spec.ts
  tests/unit/proposalValidation.spec.ts
  tsconfig.json
Labels: vue

#684 Release v0.12.0
  CHANGELOG.md
  package.json
Labels: release, vue

#692 add a message for the student if not immatriculated to any semester yet
  CHANGELOG.md
  src/components/profile/student/CourseOfStudySection.vue
Labels: low priority, visual, vue

#687 Refactoring/search select
  CHANGELOG.md
  src/components/common/SearchSelect.vue
  src/components/course/edit/sections/LecturerSection.vue
  src/use/helpers/SearchSelectOption.ts
  tailwind.config.js
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/helpers/CourseHelper.ts
Labels: enhancement, refactor, vue

#613 Feature/toasts
  CHANGELOG.md
  package-lock.json
  package.json
  src/api/AuthenticationManagement.ts
  src/components/account/edit/sections/Immatriculation.vue
  src/components/account/edit/sections/ProfilePictureSection.vue
  src/components/account/list/AccountList.vue
  src/components/common/ReportBug.vue
  src/components/common/dev/Versions.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/course/edit/sections/LecturerSection.vue
  src/components/course/list/common/CourseList.vue
  src/components/course/list/lecturer/LecturerCourse.vue
  src/components/course/list/student/StudentCourse.vue
  src/components/profile/AddressSection.vue
  src/components/profile/ContactSection.vue
  src/components/profile/ProfilePictureSection.vue
  src/components/profile/lecturer/ResearchSection.vue
  src/components/settings/SecuritySection.vue
  src/main.ts
  src/toast.ts
  src/use/helpers/GenericResponseHandler.ts
  src/use/helpers/ImmatriculationResponseHandler.ts
  src/use/helpers/LoginResponseHandler.ts
  src/use/helpers/Logout.ts
  src/use/helpers/ProfilePictureUpdateResponseHandler.ts
  src/use/helpers/ProfileResponseHandler.ts
  src/use/helpers/Toasts.ts
  src/use/helpers/ValidationResponseHandler.ts
  src/use/helpers/Versions.ts
  src/use/store/actions.ts
  src/use/store/getters.ts
  src/views/admin/EditCreateAccountForm.vue
  src/views/common/Login.vue
  src/views/shared/EditCreateCourseForm.vue
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/helpers/CourseHelper.ts
  tests/e2e/lecturerCourseManagement.spec.ts
  tests/helper/MachineUserAuthenticationManagement.ts
  tsconfig.json
Labels: enhancement, hacktoberfest-accepted, visual, vue

#698 Login Redesign & Mobile Login
  CHANGELOG.md
  package-lock.json
  package.json
  src/use/helpers/Toasts.ts
  src/views/common/Login.vue
  tailwind.config.js
Labels: enhancement, responsive, visual, vue

#731 Release v0.13.0
  CHANGELOG.md
  package.json
Labels: release, vue

#735 Parallel Testing
  .github/workflows/tests.yaml
Labels: vue

#738 Add ects field in course form
  CHANGELOG.md
  src/components/course/edit/sections/BasicsSection.vue
  src/entities/CourseEntity.ts
  src/views/shared/EditCreateCourseForm.vue
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/helpers/CourseHelper.ts
  tests/e2e/lecturerCourseManagement.spec.ts
Labels: bug, vue

#701 GovernmentId
  CHANGELOG.md
  package-lock.json
  src/api/UserManagement.ts
  src/api/api_models/user_management/User.ts
  src/components/account/edit/sections/PersonalInformationSection.vue
  src/entities/AdminEntity.ts
  src/entities/LecturerEntity.ts
  src/entities/StudentEntity.ts
  src/entities/UserEntity.ts
  src/views/admin/EditCreateAccountForm.vue
  tests/e2e/adminAccountManagement.spec.ts
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/certificateManagement.spec.ts
  tests/e2e/helpers/UserHelper.ts
  tests/e2e/helpers/UserWithAuth.ts
  tests/e2e/lecturerCourseLists.spec.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/e2e/passwordChanging.spec.ts
  tests/e2e/privateProfile.spec.ts
  tests/e2e/setUpdateProfilePicture.spec.ts
  tests/fixtures/admin.json
  tests/fixtures/lecturer.json
  tests/fixtures/student.json
  tests/helper/Users.ts
  tests/unit/api/authenticationManagement.spec.ts
  tests/unit/api/certificateManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: vue

#732 Reset Vuex store on logout
  CHANGELOG.md
  cypress.json
  src/App.vue
  src/api/AuthenticationManagement.ts
  src/components/navigation/navbar/Navbar.vue
  src/components/profile/ProfilePictureSection.vue
  src/components/settings/CertificateSection.vue
  src/use/router/index.ts
  src/use/store/getters.ts
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
  src/use/store/state.ts
  src/use/store/store.ts
Labels: bug, vue

#705 set a timeout for our tests + prevent tests for PR drafts
  .github/workflows/tests.yaml
Labels: Testing, low priority, vue

#700 New user-management API changes
  CHANGELOG.md
  src/api/UserManagement.ts
Labels: vue

#702 Soft deletion of users
  CHANGELOG.md
  src/api/UserManagement.ts
  src/api/api_models/user_management/User.ts
  src/components/account/list/AccountList.vue
  src/components/course/edit/sections/LecturerSection.vue
  src/components/course/list/common/CourseList.vue
  src/entities/AdminEntity.ts
  src/entities/LecturerEntity.ts
  src/entities/StudentEntity.ts
  src/entities/UserEntity.ts
  tests/e2e/helpers/UserHelper.ts
  tests/fixtures/admin.json
  tests/fixtures/lecturer.json
  tests/fixtures/student.json
  tests/unit/api/authenticationManagement.spec.ts
  tests/unit/api/certificateManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: vue

#742 Version v0.13.1
  CHANGELOG.md
  package.json
Labels: vue
