Repository upb-uc4/ui-web, pull requests merged in 2020-09, with the labels that each got.

#429 Bugfix Deceiving Navbar Buttons
  CHANGELOG.md
  src/components/navigation/navbar/desktop/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/desktop/common/MenuItem.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/desktop/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuFooter.vue
Labels: bug, visual, vue

#452 Refactor/minify production build
  CHANGELOG.md
  Dockerfile
  nginx.conf
  src/use/router/index.ts
  vue.config.js
Labels: vue

#466 Feature/add multiple FoS at once
  CHANGELOG.md
  src/api/MatriculationManagement.ts
  src/components/account/edit/sections/Immatriculation.vue
  src/use/helpers/MatriculationValidationResponseHandler.ts
  tests/unit/api/matriculationManagement.spec.ts
Labels: enhancement, vue

#435 Adjust mobile layout of profile page
  src/components/profile/AddressSection.vue
  src/components/profile/student/CourseOfStudySection.vue
Labels: enhancement, responsive, visual, vue

#479 Feature/include logo
  .gitignore
  CHANGELOG.md
  public/favicon.ico
  public/index.html
  public/logo.svg
  src/assets/logo/logo.svg
  src/assets/logo/logo_long_title_bottom.svg
  src/assets/logo/logo_long_title_right.svg
  src/assets/logo/logo_short_title_bottom.svg
  src/assets/logo/logo_short_title_right.svg
  src/components/navigation/navbar/desktop/common/BaseNavbar.vue
  src/components/navigation/navbar/mobile/common/BaseNavbar.vue
  src/views/common/About.vue
  src/views/common/Login.vue
  src/views/common/Welcome.vue
Labels: visual, vue

#505 Feature/matriculation management
  .jest/env.ts
  CHANGELOG.md
  src/components/account/edit/sections/Immatriculation.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/profile/student/CourseOfStudySection.vue
  src/use/helpers/MatriculationValidationResponseHandler.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
Labels: Testing, vue

#522 Feature/test cleanup after fail
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  tests/e2e/adminAccountManagement.spec.ts
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/courseListFiltering.spec.ts
  tests/e2e/helpers/CourseHelper.ts
  tests/e2e/helpers/UserHelper.ts
  tests/e2e/lecturerCourseLists.spec.ts
  tests/e2e/lecturerCourseManagement.spec.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/e2e/passwordChanging.spec.ts
  tests/e2e/privateProfile.spec.ts
  tests/e2e/publicProfile.spec.ts
  tests/e2e/studentCourseView.spec.ts
  tests/helper/MachineUserAuthenticationManagement.ts
Labels: Testing, enhancement, vue

#513 Fix Navbar Clickable Area on Mobile and Desktop
  CHANGELOG.md
  src/components/navigation/navbar/desktop/admin/Navbar.vue
  src/components/navigation/navbar/desktop/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/desktop/admin/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/common/BaseNavbar.vue
  src/components/navigation/navbar/desktop/common/MenuItem.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/desktop/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/mobile/admin/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/common/MenuItem.vue
  src/components/navigation/navbar/mobile/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/mobile/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/student/courses/CourseMenuBody.vue
  tests/e2e/helpers/AuthHelper.ts
  tests/e2e/navbarDesktop.spec.ts
Labels: responsive, visual, vue

#523 Feature/test speedup
  CHANGELOG.md
  tests/e2e/adminAccountManagement.spec.ts
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/courseListFiltering.spec.ts
  tests/e2e/helpers/AuthHelper.ts
  tests/e2e/helpers/CourseHelper.ts
  tests/e2e/helpers/UserHelper.ts
  tests/e2e/helpers/UserWithAuth.ts
  tests/e2e/lecturerCourseLists.spec.ts
  tests/e2e/lecturerCourseManagement.spec.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/e2e/passwordChanging.spec.ts
  tests/e2e/privateProfile.spec.ts
  tests/e2e/publicProfile.spec.ts
  tests/e2e/studentCourseView.spec.ts
Labels: Testing, vue

#535 Bugfix/create account without role
  CHANGELOG.md
  src/views/admin/EditCreateAccountForm.vue
  tests/e2e/adminAccountManagement.spec.ts
Labels: bug, low priority, vue

#544 Hotfix/matriculation validation
  CHANGELOG.md
  package.json
  src/components/account/edit/sections/Immatriculation.vue
  src/use/helpers/ErrorBag.ts
  src/use/helpers/MatriculationValidationResponseHandler.ts
  src/views/admin/EditCreateAccountForm.vue
  tests/e2e/matriculationManagement.spec.ts
Labels: bug, vue

#543 Hotfix/matriculation validation
  CHANGELOG.md
  package-lock.json
  package.json
  src/api/Common.ts
  src/components/account/edit/sections/Immatriculation.vue
  src/use/helpers/ErrorBag.ts
  src/use/helpers/MatriculationValidationResponseHandler.ts
  src/views/admin/EditCreateAccountForm.vue
  tests/e2e/adminAccountManagement.spec.ts
  tests/e2e/matriculationManagement.spec.ts
Labels: bug, vue

#550 Remove unused placeholder menu items from student desktop navbar
  CHANGELOG.md
  src/components/navigation/navbar/desktop/student/courses/CourseMenu.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuFooter.vue
Labels: low priority, vue
