Repository upb-uc4/ui-web, pull requests merged in 2020-08, with the labels that each got.

#293 move password change to authentication management endpoint and fix tests
  CHANGELOG.md
  src/api/AuthenticationManagement.ts
  src/api/UserManagement.ts
  src/components/settings/SecuritySection.vue
  tests/unit/api/authenticationManagement.spec.ts
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: vue

#294 add before route enter restrictions to settings page
  CHANGELOG.md
  src/views/common/Settings.vue
Labels: bug, vue

#296 add routing behind UC4 logo
  CHANGELOG.md
  src/components/navigation/navbar/common/BaseNavbar.vue
Labels: vue

#302 Feature/filter accounts by role
  CHANGELOG.md
  src/components/AccountList.vue
  src/components/AdminAccountList.vue
  src/components/RoleFilter.vue
Labels: enhancement, vue

#218 End to end testing
  .eslintignore
  .github/workflows/tests.yaml
  CHANGELOG.md
  cypress.json
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/integration/login.spec.js
  cypress/integration/studentCourseView.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/api/AuthenticationManagement.ts
  src/api/UserManagement.ts
  src/components/navigation/navbar/admin/Navbar.vue
  src/components/navigation/navbar/common/BaseNavbar.vue
  src/components/navigation/navbar/lecturer/Navbar.vue
  src/components/navigation/navbar/student/Navbar.vue
Labels: Testing, vue

#317 Feature/api qol
  CHANGELOG.md
  src/api/CourseManagement.ts
  src/api/UserManagement.ts
  src/components/CourseList.vue
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: Performance, enhancement, low priority, refactor, vue

#322 Feature/about page
  CHANGELOG.md
  src/App.vue
  src/components/ReadMore.vue
  src/components/Versions.vue
  src/components/navigation/navbar/common/BaseNavbar.vue
  src/components/navigation/navbar/guest/Navbar.vue
  src/router/index.ts
  src/views/common/About.vue
  src/views/common/AboutWrapper.vue
  src/views/common/Welcome.vue
Labels: enhancement, vue

#331 Bugfix: Cursor on MegaMenu & hack to keep menu open
  CHANGELOG.md
  src/components/navigation/navbar/admin/administration/ManageAccountsMenu.vue
  src/components/navigation/navbar/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/common/BaseMenu.vue
  src/components/navigation/navbar/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenu.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/student/courses/CourseMenu.vue
  src/components/navigation/navbar/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/student/courses/CourseMenuFooter.vue
Labels: vue

#348 bugfix/prop_type_participantsLimit_semesterCount
  CHANGELOG.md
  src/components/account/edit/StudentInformationSection.vue
  src/components/course/edit/RestrictionsSection.vue
Labels: bug, vue

#352 Feature/api user 0.5.2
  CHANGELOG.md
  src/api/UserManagement.ts
  src/components/CourseList.vue
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
  tests/unit/api/userManagement.spec.ts
Labels: vue

#341 Refactor/remove unused suspense wrappers
  .gitignore
  CHANGELOG.md
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/screenshots/adminAccountManagement.spec.js/Account creation, edition and deletion -- List contains admin, student and lecturer (failed).png
  cypress/screenshots/adminAccountManagement.spec.js/Account creation, edition and deletion -- Navigate to accountlist (failed).png
  cypress/videos/adminAccountManagement.spec.js-compressed.mp4
  cypress/videos/adminAccountManagement.spec.js.mp4
  src/components/AccountList.vue
  src/components/AdminAccountList.vue
  src/components/Versions.vue
  src/components/VersionsWrapper.vue
  src/router/index.ts
  src/views/admin/AccountFormSuspenseWrapper.vue
  src/views/admin/EditCreateAccountForm.vue
  src/views/common/About.vue
  src/views/common/AboutWrapper.vue
  src/views/common/Welcome.vue
  src/views/common/WelcomePageWrapper.vue
  src/views/lecturer/CourseFormSuspenseWrapper.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: refactor, vue

#360 Refactor/remove home components
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/integration/studentCourseView.spec.js
  src/components/AdminAccountList.vue
  src/components/CourseList.vue
  src/components/LecturerCourseList.vue
  src/components/StudentCourseList.vue
  src/components/navigation/navbar/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/student/courses/CourseMenuBody.vue
  src/router/index.ts
  src/views/admin/AdminAccountList.vue
  src/views/admin/Home.vue
  src/views/lecturer/Home.vue
  src/views/lecturer/LecturerCourseList.vue
  src/views/student/Home.vue
  src/views/student/StudentCourseList.vue
Labels: refactor, vue

#358 add a timeout of 100ms to prevent refreshing the page too fast
  CHANGELOG.md
  src/components/SearchBar.vue
Labels: bug, vue

#353 Feature/randomize test data
  CHANGELOG.md
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/integration/studentCourseView.spec.js
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
  tests/unit/api/authenticationManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: Testing, vue

#376 Feature/lecturer all courses
  CHANGELOG.md
  cypress/integration/lecturerCourseLists.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/integration/studentCourseView.spec.js
  src/api/UserManagement.ts
  src/components/CourseList.vue
  src/components/LecturerCourse.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenuBody.vue
  src/router/index.ts
  src/views/lecturer/LecturerCourseList.vue
  src/views/student/StudentCourseList.vue
  tests/unit/api/userManagement.spec.ts
Labels: enhancement, vue

#398 Feature/add house number to private profile
  CHANGELOG.md
  src/components/profile/AddressSection.vue
Labels: vue

#393 Matriculation management and changes to user management
  CHANGELOG.md
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseLists.spec.js
  cypress/integration/login.spec.js
  src/api/MatriculationManagement.ts
  src/api/UserManagement.ts
  src/api/api_models/matriculation_management/MatriculationData.ts
  src/api/api_models/matriculation_management/SubjectMatriculation.ts
  src/api/api_models/user_management/Student.ts
  src/api/api_models/user_management/User.ts
  src/components/ImmatriculationHistory.vue
  src/components/ImmatriculationHistoryEntry.vue
  src/components/MultiSelect.vue
  src/components/Versions.vue
  src/components/account/edit/Immatriculation.vue
  src/components/account/edit/StudentInformationSection.vue
  src/components/account/edit/UserSecuritySection.vue
  src/components/modals/ImmatriculationHistoryModal.vue
  src/components/profile/student/CourseOfStudySection.vue
  src/entities/AdminEntity.ts
  src/entities/Country.ts
  src/entities/LecturerEntity.ts
  src/entities/StudentEntity.ts
  src/entities/UserEntity.ts
  src/use/GenericResponseHandler.ts
  src/use/ImmatriculationHistoryHandler.ts
  src/views/admin/EditCreateAccountForm.vue
  src/views/student/PrivateProfile.vue
  tests/unit/api/authenticationManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/api/testData.ts
  tests/unit/api/userManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
Labels: vue

#406 Bugfix/logged in login page
  CHANGELOG.md
  cypress/integration/loginPageLoggedIn.spec.js
  src/components/navigation/navbar/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/common/profile/ProfileMenuBody.vue
  src/router/index.ts
  src/use/Logout.ts
Labels: bug, vue

#408 Feature/center loadingspinner
  CHANGELOG.md
  src/components/loading/Spinner.vue
  src/views/admin/EditCreateAccountForm.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: refactor, visual, vue

#390 Mobile Navigation
  .gitignore
  CHANGELOG.md
  cypress.json
  cypress/integration/adminAccountManagement.spec.js
  cypress/integration/lecturerCourseLists.spec.js
  cypress/integration/lecturerCourseManagement.spec.js
  cypress/integration/navbarMobile.spec.js
  cypress/integration/studentCourseView.spec.js
  src/assets/styles/utilities/links.css
  src/components/navigation/navbar/Navbar.vue
  src/components/navigation/navbar/desktop/admin/Navbar.vue
  src/components/navigation/navbar/desktop/admin/administration/ManageAccountsMenu.vue
  src/components/navigation/navbar/desktop/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/desktop/common/BaseMenu.vue
  src/components/navigation/navbar/desktop/common/BaseNavbar.vue
  src/components/navigation/navbar/desktop/common/MenuItem.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/desktop/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/desktop/guest/Navbar.vue
  src/components/navigation/navbar/desktop/lecturer/Navbar.vue
  src/components/navigation/navbar/desktop/lecturer/courses/CourseMenu.vue
  src/components/navigation/navbar/desktop/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/Navbar.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenu.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/desktop/student/courses/CourseMenuFooter.vue
  src/components/navigation/navbar/mobile/admin/Navbar.vue
  src/components/navigation/navbar/mobile/admin/administration/ManageAccountsMenu.vue
  src/components/navigation/navbar/mobile/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/mobile/common/BaseMenu.vue
  src/components/navigation/navbar/mobile/common/BaseNavbar.vue
  src/components/navigation/navbar/mobile/common/MenuItem.vue
  src/components/navigation/navbar/mobile/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/mobile/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/mobile/guest/Navbar.vue
  src/components/navigation/navbar/mobile/lecturer/Navbar.vue
  src/components/navigation/navbar/mobile/lecturer/courses/CourseMenu.vue
  src/components/navigation/navbar/mobile/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/mobile/student/Navbar.vue
  src/components/navigation/navbar/mobile/student/courses/CourseMenu.vue
  src/components/navigation/navbar/mobile/student/courses/CourseMenuBody.vue
Labels: Epic, discussion, responsive, visual, vue
