Repository upb-uc4/ui-web, pull requests merged in 2020-12, with the labels that each got.

#748 Hotfix: hide create course button in course catalogue
  CHANGELOG.md
  package.json
  src/use/router/index.ts
  src/views/common/CourseList.vue
Labels: bug, release, vue

#747 Hotfix: hide create course button in course catalogue
  CHANGELOG.md
  package.json
  src/use/router/index.ts
  src/views/common/CourseList.vue
Labels: bug, release, vue

#729 Pipeline against experimental
  .github/workflows/tests.yaml
  .jest/env.ts
Labels: vue

#715 Refactor/course cards
  CHANGELOG.md
  src/components/course/list/lecturer/LecturerCourse.vue
  src/components/course/list/student/StudentCourse.vue
Labels: bug, low priority, refactor, visual, vue

#745 Matriculation with Examination Regulation
  .github/workflows/tests.yaml
  CHANGELOG.md
  src/api/api_models/user_management/FieldOfStudy.ts
  src/components/account/edit/sections/Immatriculation.vue
  src/components/account/edit/sections/StudentInformationSection.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/common/immatriculation/ImmatriculationHistoryEntry.vue
  tests/e2e/matriculationManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
Labels: refactor, vue

#690 Examination Regulation UI
  .github/workflows/tests.yaml
  CHANGELOG.md
  src/assets/styles/utilities/buttons.css
  src/components/exreg/ExRegInfoSection.vue
  src/components/exreg/ExRegModuleSection.vue
  src/components/navigation/navbar/desktop/admin/Navbar.vue
  src/components/navigation/navbar/desktop/admin/exreg/ExRegMenu.vue
  src/components/navigation/navbar/desktop/admin/exreg/ExRegMenuBody.vue
  src/components/navigation/navbar/mobile/admin/Navbar.vue
  src/components/navigation/navbar/mobile/admin/exreg/ExRegBody.vue
  src/components/navigation/navbar/mobile/admin/exreg/ExRegMenu.vue
  src/use/router/index.ts
  src/views/admin/CreateExamRegForm.vue
  tests/e2e/examRegCreate.spec.ts
  tests/e2e/helpers/NavigationHelper.ts
  tests/e2e/navbarDesktop.spec.ts
  tests/e2e/navbarMobile.spec.ts
Labels: enhancement, visual

#758 Release/v0.14.0
  .github/workflows/tests.yaml
  .jest/env.ts
  CHANGELOG.md
  package-lock.json
  package.json
  src/api/api_models/user_management/FieldOfStudy.ts
  src/assets/styles/utilities/buttons.css
  src/components/account/edit/sections/Immatriculation.vue
  src/components/account/edit/sections/StudentInformationSection.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/common/immatriculation/ImmatriculationHistoryEntry.vue
  src/components/course/list/lecturer/LecturerCourse.vue
  src/components/course/list/student/StudentCourse.vue
  src/components/exreg/ExRegInfoSection.vue
  src/components/exreg/ExRegModuleSection.vue
  src/components/navigation/navbar/desktop/admin/Navbar.vue
  src/components/navigation/navbar/desktop/admin/exreg/ExRegMenu.vue
  src/components/navigation/navbar/desktop/admin/exreg/ExRegMenuBody.vue
  src/components/navigation/navbar/mobile/admin/Navbar.vue
  src/components/navigation/navbar/mobile/admin/exreg/ExRegBody.vue
  src/components/navigation/navbar/mobile/admin/exreg/ExRegMenu.vue
  src/use/router/index.ts
  src/views/admin/CreateExamRegForm.vue
  tests/e2e/examRegCreate.spec.ts
  tests/e2e/helpers/NavigationHelper.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/e2e/navbarDesktop.spec.ts
  tests/e2e/navbarMobile.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
Labels: release, vue

#759 Release/v0.14.0
  CHANGELOG.md
  package.json
Labels: release, vue

#754 Add new version endpoints for hyperledger
  CHANGELOG.md
  src/api/AuthenticationManagement.ts
  src/api/CertificateManagement.ts
  src/api/Common.ts
  src/api/CommonHyperledger.ts
  src/api/CourseManagement.ts
  src/api/ExaminationRegulationManagement.ts
  src/api/MatriculationManagement.ts
  src/api/UserManagement.ts
  src/components/common/dev/Versions.vue
  src/use/helpers/Versions.ts
  tests/helper/MachineUserAuthenticationManagement.ts
  tests/unit/api/certificateManagement.spec.ts
  tests/unit/api/examinationRegulationManagement.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
Labels: experimental, vue

#749 Student immatriculation
  CHANGELOG.md
  src/api/MatriculationManagement.ts
  src/api/abstractions/FrontendSigning.ts
  src/api/api_models/common/Proposal.ts
  src/api/api_models/common/SignedProposalMessage.ts
  src/api/api_models/common/SignedTransactionMessage.ts
  src/api/api_models/common/Transaction.ts
  src/api/api_models/common/UnsignedProposalMessage.ts
  src/api/api_models/common/UnsignedTransactionMessage.ts
  src/api/helpers/ProposalPayloadValidator.ts
  src/api/helpers/ProtobuffDecoding.ts
  src/api/helpers/TransactionDecoding.ts
  src/api/helpers/TransactionValidator.ts
  src/components/account/edit/sections/Immatriculation.vue
  src/components/account/list/UserRow.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/exreg/ExRegModuleSection.vue
  src/components/navigation/navbar/desktop/student/Navbar.vue
  src/components/navigation/navbar/desktop/student/study/StudyMenu.vue
  src/components/navigation/navbar/desktop/student/study/StudyMenuBody.vue
  src/components/navigation/navbar/mobile/student/Navbar.vue
  src/components/navigation/navbar/mobile/student/study/StudyMenu.vue
  src/components/navigation/navbar/mobile/student/study/StudyMenuBody.vue
  src/components/study/Immatriculation.vue
  src/use/crypto/certificates.ts
  src/use/crypto/signing.ts
  src/use/helpers/ImmatriculationResponseHandler.ts
  src/use/router/index.ts
  src/use/store/actions.ts
  src/use/store/getters.ts
  tests/e2e/helpers/NavigationHelper.ts
  tests/e2e/matriculationManagement.spec.ts
  tests/e2e/navbarDesktop.spec.ts
  tests/e2e/navbarMobile.spec.ts
  tests/e2e/studentImmatriculation.spec.ts
  tests/unit/api/matriculationManagement.spec.ts
  tests/unit/proposalSigning.spec.ts
  tests/unit/proposalValidation.spec.ts
  tests/unit/transactionSigning.spec.ts
  tests/unit/transactionValidation.spec.ts
Labels: experimental

#768 Search with whitespace
  CHANGELOG.md
  src/components/account/list/AccountList.vue
  src/components/course/list/common/CourseList.vue
  tests/e2e/accountListFiltering.spec.ts
Labels: bug, vue

#778 Release v0.15.0
  CHANGELOG.md
  package.json
Labels: release, vue
