Repository upb-uc4/ui-web, pull requests merged in 2020-07, with the labels that each got.

#93 Add AccountList for the Admin
  src/components/AccountList.vue
  src/components/AdminAccountList.vue
  src/router/index.ts
  src/views/admin/Home.vue
  src/views/common/Login.vue
  tailwind.config.js
Labels: Vue

#92 Extend the CreateAccountForm to new API
  src/assets/blank_profile_picture.png
  src/entities/AddressEntity.ts
  src/entities/Country.ts
  src/entities/CourseEntity.ts
  src/entities/Role.ts
  src/entities/UserEntity.ts
  src/views/admin/CreateAccountForm.vue
Labels: Vue

#100 Add first error codes to user management
  src/api/Course_Management.ts
  src/api/UserManagement.ts
  src/api/api_models/errors/APIError.ts
  src/api/api_models/errors/ValidationError.ts
  src/api/helpers/models/APIResponse.ts
  src/use/ErrorHandler.ts
  src/use/LoginResponseHandler.ts
  src/use/ResponseHandler.ts
  src/use/ValidationResponseHandler.ts
  src/views/admin/CreateAccountForm.vue
  src/views/common/Login.vue
Labels: vue

#102 Feature/profile
  src/assets/styles/utilities/buttons.css
  src/components/dev_components/DevNavBar.vue
  src/components/profile/AddressSection.vue
  src/components/profile/ContactSection.vue
  src/components/profile/CourseOfStudySection.vue
  src/components/profile/PersonalSection.vue
  src/router/index.ts
  src/views/common/Profile.vue
  src/views/student/Profile.vue
Labels: enhancement, vue

#114 Hotfix for FieldOfStudy Selection Bug
  src/api/api_models/user_management/FieldOfStudy.ts
  src/views/admin/EditCreateAccountForm.vue
Labels: bug, vue

#115 Hotfix for FieldOfStudy Selection Bug
  src/api/api_models/user_management/FieldOfStudy.ts
  src/views/admin/EditCreateAccountForm.vue
Labels: bug, vue

#126 Add docker deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
  nginx.conf
  src/App.vue
  src/api/Common.ts
  src/store/state.ts
Labels: vue

#127 Extract Multiselect Logic
  src/components/MultiSelect.vue
  src/views/admin/EditCreateAccountForm.vue
Labels: enhancement, vue

#128 Add API error codes for all services
  src/api/CourseManagement.ts
  src/api/UserManagement.ts
  src/api/api_models/course_management/Course.ts
  src/components/AccountList.vue
  src/components/CourseList.vue
  src/use/GenericResponseHandler.ts
  src/use/ValidationResponseHandler.ts
  src/views/admin/EditCreateAccountForm.vue
  src/views/lecturer/EditCreateCourseForm.vue
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
Labels: vue

#148 fix birthdate spelling everywhere
  src/api/api_models/user_management/User.ts
  src/components/profile/PersonalSection.vue
  src/entities/AdminEntity.ts
  src/entities/LecturerEntity.ts
  src/entities/UserEntity.ts
  src/views/admin/EditCreateAccountForm.vue
Labels: vue

#137 Add 404 Error Page
  package-lock.json
  package.json
  src/router/index.ts
  src/views/errors/404.vue
Labels: enhancement, vue

#149 Deployment
  .github/workflows/deployment.yaml
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  src/App.vue
  src/api/Common.ts
  src/router/index.ts
  vue.config.js
Labels: vue

#143 Private & Public Profile
  src/components/dev_components/DevNavBar.vue
  src/components/profile/PersonalSection.vue
  src/components/profile/Wrapper.vue
  src/components/profile/lecturer/ResearchSection.vue
  src/components/profile/student/CourseOfStudySection.vue
  src/router/index.ts
  src/use/ProfileResponseHandler.ts
  src/views/common/PrivateProfile.vue
  src/views/common/Profile.vue
  src/views/common/PublicProfile.vue
  src/views/lecturer/PrivateProfile.vue
  src/views/lecturer/PublicProfile.vue
  src/views/student/PrivateProfile.vue
  src/views/student/PublicProfile.vue
Labels: enhancement, vue

#142 Feature/suspense edit forms and loading component
  src/assets/loading-spinner.svg
  src/components/AdminAccountList.vue
  src/components/CourseList.vue
  src/components/LecturerCourseList.vue
  src/components/MultiSelect.vue
  src/components/loading/Spinner.vue
  src/router/index.ts
  src/views/admin/AccountFormSuspenseWrapper.vue
  src/views/admin/EditCreateAccountForm.vue
  src/views/lecturer/CourseFormSuspenseWrapper.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: enhancement, vue

#133 Add icon buttons and styling of form inputs
  src/assets/styles/utilities/buttons.css
  src/assets/styles/utilities/index.css
  src/assets/styles/utilities/inputs/index.css
  src/assets/styles/utilities/inputs/select.css
  src/assets/styles/utilities/inputs/text.css
  src/components/AccountList.vue
  src/components/AdminAccountList.vue
  src/components/LecturerCourseList.vue
  src/components/MultiSelect.vue
  src/components/StudentCourseList.vue
  src/components/profile/AddressSection.vue
  src/components/profile/ContactSection.vue
  src/components/profile/PersonalSection.vue
  src/components/profile/lecturer/ResearchSection.vue
  src/views/admin/EditCreateAccountForm.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: refactor, vue

#167 Feature/refactor birthdatepicker
  package-lock.json
  src/components/BirthDatePicker.vue
  src/components/MultiSelect.vue
  src/entities/Month.ts
  src/views/admin/EditCreateAccountForm.vue
Labels: enhancement, refactor, vue

#176 Hotfix for the isValid computed variable in the courseForm
  .github/workflows/deployment.yaml
  package.json
  src/views/lecturer/EditCreateCourseForm.vue
Labels: bug, vue

#175 Hotfix for the isValid computed variable in the courseForm
  .github/workflows/deployment.yaml
  package.json
  src/views/lecturer/EditCreateCourseForm.vue
Labels: bug, vue

#180 Refactor Error Handling
  src/api/api_models/errors/Error.ts
  src/api/api_models/errors/ValidationError.ts
  src/use/ErrorBag.ts
  src/use/ErrorHandler.ts
  src/use/ValidationResponseHandler.ts
  src/views/admin/EditCreateAccountForm.vue
  src/views/common/Login.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: enhancement, refactor, vue

#179 Bugfix/responsive course
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
Labels: bug, refactor, responsive, vue

#187 bugfix that wrong buttons would be shown on lecturer courses
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
Labels: bug, vue

#189 Remove all but one linter warnings
  src/components/BirthDatePicker.vue
  src/components/CourseListFilter.vue
  src/components/StudentCourse.vue
  src/components/modals/Modal.vue
  src/components/profile/AddressSection.vue
  src/components/profile/ContactSection.vue
  src/components/profile/PersonalSection.vue
  src/components/profile/lecturer/ResearchSection.vue
  src/views/admin/Home.vue
  src/views/lecturer/Home.vue
  src/views/lecturer/PrivateProfile.vue
  src/views/student/Home.vue
  src/views/student/PrivateProfile.vue
Labels: low priority, vue

#188 Refactor CreateEditCourse
  src/components/course/edit/BasicsSection.vue
  src/components/course/edit/RestrictionsSection.vue
  src/components/course/edit/TimeSection.vue
  src/use/ModelWrapper.ts
  src/views/lecturer/EditCreateCourseForm.vue
Labels: enhancement, refactor, vue

#205 Feature/proper page titles
  CHANGELOG.md
  src/main.ts
  src/router/index.ts
  src/views/common/PublicProfile.vue
Labels: enhancement, vue

#206 Replace some forgotten input classes with our form inputs
  CHANGELOG.md
  src/components/profile/ContactSection.vue
  src/components/profile/student/CourseOfStudySection.vue
Labels: enhancement, low priority, vue

#214 Feature/add ids to user interactions
  CHANGELOG.md
  src/components/AccountList.vue
  src/components/AdminAccountList.vue
  src/components/BirthDatePicker.vue
  src/components/CourseListFilter.vue
  src/components/LecturerCourse.vue
  src/components/LecturerCourseList.vue
  src/components/MultiSelect.vue
  src/components/ReadMore.vue
  src/components/StudentCourse.vue
  src/components/StudentCourseList.vue
  src/components/course/edit/BasicsSection.vue
  src/components/course/edit/RestrictionsSection.vue
  src/components/course/edit/TimeSection.vue
  src/components/modals/DeleteAccountModal.vue
  src/components/modals/DeleteCourseModal.vue
  src/components/modals/Modal.vue
  src/components/modals/UnsavedChangesModal.vue
  src/components/profile/AddressSection.vue
  src/components/profile/ContactSection.vue
  src/components/profile/PersonalSection.vue
  src/components/profile/lecturer/ResearchSection.vue
  src/components/profile/student/CourseOfStudySection.vue
  src/views/admin/EditCreateAccountForm.vue
  src/views/common/Login.vue
  src/views/common/Redirect.vue
  src/views/errors/404.vue
  src/views/lecturer/EditCreateCourseForm.vue
  src/views/lecturer/PrivateProfile.vue
  src/views/lecturer/PublicProfile.vue
  src/views/student/PrivateProfile.vue
  src/views/student/PublicProfile.vue
Labels: refactor, vue

#211 Feature/new add button
  CHANGELOG.md
  src/assets/styles/utilities/buttons.css
  src/components/AdminAccountList.vue
  src/components/LecturerCourseList.vue
Labels: enhancement, visual, vue

#234 Refactor/extract searchbar
  CHANGELOG.md
  src/components/AdminAccountList.vue
  src/components/LecturerCourseList.vue
  src/components/SearchBar.vue
  src/components/StudentCourseList.vue
  src/views/lecturer/EditCreateCourseForm.vue
Labels: refactor, vue

#227 Feature/user change password
  .eslintignore
  CHANGELOG.md
  src/assets/styles/utilities/inputs/text.css
  src/components/modals/EnterPasswordModal.vue
  src/components/profile/SettingsSection.vue
  src/views/lecturer/PrivateProfile.vue
Labels: enhancement, vue

#226 ReDesign Account List in AdminView
  CHANGELOG.md
  src/components/AccountList.vue
  src/components/account/UserRow.vue
  src/components/profile/ContactSection.vue
  src/components/profile/student/CourseOfStudySection.vue
Labels: low priority, refactor, visual, vue

#223 Feature/show full lecturer name
  CHANGELOG.md
  src/components/LecturerCourse.vue
  src/components/StudentCourse.vue
  src/components/StudentCourseList.vue
Labels: enhancement, vue

#242 Refactor/split account form
  CHANGELOG.md
  src/components/account/edit/LecturerInformationSection.vue
  src/components/account/edit/PersonalInformationSection.vue
  src/components/account/edit/RoleSection.vue
  src/components/account/edit/StudentInformationSection.vue
  src/components/account/edit/UserSecuritySection.vue
  src/views/admin/EditCreateAccountForm.vue
Labels: refactor, vue

#250 Add Settings Page
  CHANGELOG.md
  src/components/settings/SecuritySection.vue
  src/router/index.ts
  src/views/common/Settings.vue
  src/views/lecturer/PrivateProfile.vue
Labels: enhancement, vue

#245 Refactor/simplify birthdate accountform
  CHANGELOG.md
  src/components/BirthDatePicker.vue
  src/components/account/edit/PersonalInformationSection.vue
  src/views/admin/EditCreateAccountForm.vue
Labels: refactor, vue

#263 add private profile page for the admin
  CHANGELOG.md
  src/views/admin/PrivateProfile.vue
  src/views/common/PrivateProfile.vue
Labels: vue

#265 Add navbar
  CHANGELOG.md
  src/App.vue
  src/assets/styles/animations.css
  src/assets/styles/index.css
  src/assets/styles/utilities/links.css
  src/components/dev_components/DevNavBar.vue
  src/components/navigation/navbar/Navbar.vue
  src/components/navigation/navbar/admin/Navbar.vue
  src/components/navigation/navbar/admin/administration/ManageAccountsMenu.vue
  src/components/navigation/navbar/admin/administration/ManageAccountsMenuBody.vue
  src/components/navigation/navbar/common/BaseMenu.vue
  src/components/navigation/navbar/common/BaseNavbar.vue
  src/components/navigation/navbar/common/MenuItem.vue
  src/components/navigation/navbar/common/profile/ProfileMenu.vue
  src/components/navigation/navbar/common/profile/ProfileMenuBody.vue
  src/components/navigation/navbar/guest/Navbar.vue
  src/components/navigation/navbar/lecturer/Navbar.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenu.vue
  src/components/navigation/navbar/lecturer/courses/CourseMenuBody.vue
  src/components/navigation/navbar/student/Navbar.vue
  src/components/navigation/navbar/student/courses/CourseMenu.vue
  src/components/navigation/navbar/student/courses/CourseMenuBody.vue
  src/components/navigation/navbar/student/courses/CourseMenuFooter.vue
  src/store/mutation-types.ts
  src/views/admin/Home.vue
  src/views/common/Login.vue
  src/views/errors/403.vue
  src/views/lecturer/Home.vue
  src/views/student/Home.vue
  tailwind.config.js
Labels: vue

#270 fix bug, that days <10 were not shown
  CHANGELOG.md
  src/components/BirthDatePicker.vue
Labels: bug, vue

#273 Hotfix/password confirmation
  CHANGELOG.md
  package.json
  src/components/modals/EnterPasswordModal.vue
Labels: bug, vue

#274 Hotfix/password confirmation
  .jest/env.ts
  CHANGELOG.md
  package.json
  src/api/AuthenticationManagement.ts
  src/api/Common.ts
  src/api/HyperledgerCourseManagement.ts
  src/api/HyperledgerManagement.ts
  src/components/BirthDatePicker.vue
  src/components/modals/EnterPasswordModal.vue
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
Labels: bug, vue

#281 Update HL courseManagement because of new API
  src/api/HyperledgerCourseManagement.ts
Labels: vue
