Repository upb-uc4/ui-web, pull requests merged in 2021-01, with the labels that each got.

#774 Course Admission API
  CHANGELOG.md
  src/api/AdmissionManagement.ts
  src/api/CertificateManagement.ts
  src/api/abstractions/FrontendSigning.ts
  src/api/api_models/admission_management/CourseAdmission.ts
  src/api/helpers/ProposalPayloadValidator.ts
  src/api/helpers/TransactionValidator.ts
  src/api/helpers/UC4Identifier.ts
  src/use/helpers/Versions.ts
  tests/fixtures/course.json
  tests/unit/api/admissionManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
  tests/unit/proposalValidation.spec.ts
  tests/unit/transactionValidation.spec.ts
Labels: experimental, vue

#776 Report Management
  CHANGELOG.md
  src/api/ReportManagement.ts
  src/components/settings/RequestDataSection.vue
  src/use/helpers/GenericResponseHandler.ts
  src/use/helpers/Toasts.ts
  src/use/helpers/Versions.ts
  src/views/common/Settings.vue
  tests/e2e/gdpr.spec.ts
  tests/unit/api/reportManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
Labels: experimental, vue

#755 Configuration Management
  CHANGELOG.md
  src/api/ConfigurationManagement.ts
  src/api/api_models/configuration_management/Configuration.ts
  src/api/api_models/configuration_management/HyperledgerVersion.ts
  src/api/api_models/course_management/Course.ts
  src/components/account/edit/sections/AddressSection.vue
  src/components/account/edit/sections/PersonalInformationSection.vue
  src/components/account/edit/sections/UserSecuritySection.vue
  src/components/account/list/AccountList.vue
  src/components/account/list/UserRow.vue
  src/components/common/BaseInput.vue
  src/components/course/edit/sections/BasicsSection.vue
  src/components/course/edit/sections/RestrictionsSection.vue
  src/components/course/list/common/CourseList.vue
  src/components/course/list/common/CourseTypeFilter.vue
  src/components/profile/AddressSection.vue
  src/entities/AddressEntity.ts
  src/entities/CourseEntity.ts
  src/entities/Language.ts
  src/use/helpers/ErrorBag.ts
  src/use/helpers/ValidationBag.ts
  src/use/helpers/Versions.ts
  src/use/store/getters.ts
  src/use/store/mutation-types.ts
  src/use/store/mutations.ts
  src/use/store/state.ts
  src/views/admin/EditCreateAccountForm.vue
  src/views/common/CourseList.vue
  src/views/common/Login.vue
  src/views/shared/EditCreateCourseForm.vue
  src/views/student/StudentCourseList.vue
  tests/e2e/adminAccountManagement.spec.ts
  tests/e2e/adminCourseManagement.spec.ts
  tests/e2e/courseListFiltering.spec.ts
  tests/e2e/lecturerCourseManagement.spec.ts
  tests/e2e/privateProfile.spec.ts
  tests/e2e/publicProfile.spec.ts
  tests/e2e/softAccountDeletion.spec.ts
  tests/fixtures/Country.ts
  tests/fixtures/CourseType.ts
  tests/unit/api/configurationManagement.spec.ts
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/userManagement.spec.ts
  tests/unit/api/versionEndpoints.spec.ts
Labels: vue

#786 Release v0.15.1 on develop
  CHANGELOG.md
  package.json
Labels: release, vue

#792 Data Protection Agreement
  CHANGELOG.md
  src/use/router/index.ts
  src/views/common/About.vue
  src/views/common/DPA.vue
Labels: visual, vue

#797 Release/v0.16.0
  CHANGELOG.md
  package.json
  src/api/helpers/ProtobuffDecoding.ts
  src/api/helpers/TransactionDecoding.ts
  src/use/router/index.ts
  src/views/common/About.vue
  src/views/common/DPA.vue
  vue.config.js
Labels: release, vue

#798 Release/v0.16.0 on Dev
  CHANGELOG.md
  package.json
Labels: release, vue

#795 Course Info Page Module Names
  CHANGELOG.md
  src/components/course/info/sections/ModulesSection.vue
  tests/e2e/courseAdmission.spec.ts
  tests/e2e/helpers/AuthHelper.ts
Labels: enhancement, vue

#808 Release v0.16.1 on Dev
  CHANGELOG.md
  package-lock.json
  package.json
  src/api/helpers/OperationValidator.ts
  src/components/common/dashboard/Dashboard.vue
  src/components/common/dashboard/OperationComponent.vue
Labels: release, vue

#817 Release v0.16.1-hotfix.1
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package.json
  src/components/common/dashboard/Dashboard.vue
  tests/e2e/immatriculationOperation.spec.ts
Labels: bug, release, vue

#816 Release v0.16.1-hotfix.1 on Dev
  CHANGELOG.md
  package.json
  src/components/common/dashboard/Dashboard.vue
  tests/e2e/immatriculationOperation.spec.ts
Labels: bug, release, vue

#818 Release v0.17.0 on Dev
  CHANGELOG.md
  package.json
Labels: release, vue

#819 Release v0.17.0
  CHANGELOG.md
  package.json
Labels: release, vue
