Repository upb-uc4/ui-web, pull requests merged in 2021-03, with the labels that each got.

#876 Release v0.19.1 on Dev
  CHANGELOG.md
  package.json
Labels: release, vue

#881 Cancel own pending operation
  CHANGELOG.md
  src/components/common/dashboard/OperationComponent.vue
Labels: enhancement, vue

#878 Bugfix exam form
  CHANGELOG.md
  src/components/common/DatePicker.vue
  src/components/common/ISODatePicker.vue
  src/components/exam/edit/BasicsSection.vue
  src/components/exam/list/ExamList.vue
  src/views/shared/CreateViewExamForm.vue
Labels: bug, vue

#835 Improve Performance
  CHANGELOG.md
  package-lock.json
  package.json
  src/App.vue
  src/components/modals/DecryptPrivateKeyModal.vue
  src/components/navigation/navbar/Navbar.vue
  src/use/router/index.ts
  src/use/store/getters.ts
  tailwind.config.js
  vue.config.js
Labels: vue

#886 Bugfix/502 prompt
  CHANGELOG.md
  src/use/helpers/GenericResponseHandler.ts
  src/use/helpers/ImmatriculationResponseHandler.ts
  src/use/helpers/LoginResponseHandler.ts
  src/use/helpers/ProfilePictureUpdateResponseHandler.ts
  src/use/helpers/ProfileResponseHandler.ts
  src/use/helpers/Toasts.ts
  src/use/helpers/ValidationResponseHandler.ts
  src/views/common/Login.vue
Labels: bug, vue

#880 Placeholders for empty lists
  CHANGELOG.md
  src/components/account/list/AccountList.vue
  src/components/common/ListPlaceholder.vue
  src/components/common/dashboard/OperationList.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/course/list/common/CourseList.vue
  src/components/course/list/student/CourseList.vue
  src/components/exam/list/ExamList.vue
Labels: enhancement, visual, vue

#879 Download Transcript of Records
  CHANGELOG.md
  src/api/ReportManagement.ts
  src/components/common/immatriculation/ImmatriculationHistoryEntry.vue
  src/components/course/list/student/CourseList.vue
  src/components/exam/list/ExamList.vue
  src/use/store/getters.ts
  src/views/student/ExamResults.vue
Labels: enhancement, experimental, vue

#889 Release v1.0.0 on Dev
  CHANGELOG.md
  package.json
Labels: bug, release

#890 Release v1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/App.vue
  src/api/ReportManagement.ts
  src/api/api_models/common/SignedProposalMessage.ts
  src/api/api_models/common/SignedTransactionMessage.ts
  src/api/api_models/common/UnsignedProposalMessage.ts
  src/api/api_models/common/UnsignedTransactionMessage.ts
  src/api/contracts/AbstractTransaction.ts
  src/api/contracts/ChaincodeUtility.ts
  src/api/contracts/matriculation/transactions/GeneralMatriculationTransactionWrapper.ts
  src/components/account/list/AccountList.vue
  src/components/common/DatePicker.vue
  src/components/common/ISODatePicker.vue
  src/components/common/ListPlaceholder.vue
  src/components/common/dashboard/OperationComponent.vue
  src/components/common/dashboard/OperationList.vue
  src/components/common/dev/about/ServiceStatusCard.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/common/immatriculation/ImmatriculationHistoryEntry.vue
  src/components/course/list/common/CourseList.vue
  src/components/course/list/student/CourseList.vue
  src/components/exam/edit/BasicsSection.vue
  src/components/exam/list/ExamList.vue
  src/components/modals/DecryptPrivateKeyModal.vue
  src/components/navigation/navbar/Navbar.vue
  src/use/crypto/signing.ts
  src/use/helpers/GenericResponseHandler.ts
  src/use/helpers/ImmatriculationResponseHandler.ts
  src/use/helpers/LoginResponseHandler.ts
  src/use/helpers/ProfilePictureUpdateResponseHandler.ts
  src/use/helpers/ProfileResponseHandler.ts
  src/use/helpers/Toasts.ts
  src/use/helpers/ValidationResponseHandler.ts
  src/use/router/index.ts
  src/use/store/getters.ts
  src/views/common/Login.vue
  src/views/shared/CreateViewExamForm.vue
  src/views/student/ExamResults.vue
  tailwind.config.js
  tests/unit/OperationId.spec.ts
  tests/unit/api/examManagement.spec.ts
  tests/unit/api/operationManagement.spec.ts
  tests/unit/transactionSigning.spec.ts
  vue.config.js
Labels: release, vue
