Repository upb-uc4/ui-web, pull requests merged in 2021-02, with the labels that each got.

#829 Add CSS Purge Safelist
  CHANGELOG.md
  package.json
  tailwind.config.js
Labels: bug, visual

#826 Update Operations API
  CHANGELOG.md
  package-lock.json
  src/api/AdmissionManagement.ts
  src/api/CourseManagement.ts
  src/api/MatriculationManagement.ts
  src/api/OperationManagement.ts
  src/api/abstractions/FrontendSigning.ts
  src/api/api_models/operation_management/Operation.ts
  src/api/contracts/AbstractTransaction.ts
  src/api/contracts/ChaincodeUtility.ts
  src/api/contracts/admission/transactions/AddAdmission.ts
  src/api/contracts/admission/transactions/DropAdmission.ts
  src/api/contracts/matriculation/transactions/AddEntries.ts
  src/api/contracts/matriculation/transactions/AddMatriculation.ts
  src/api/contracts/matriculation/transactions/GeneralMatriculationTransactionWrapper.ts
  src/api/contracts/matriculation/transactions/UpdateMatriculation.ts
  src/api/contracts/operation/transactions/ApproveOperation.ts
  src/api/contracts/operation/transactions/RejectOperation.ts
  src/api/helpers/OperationValidator.ts
  src/api/helpers/ProposalPayloadValidator.ts
  src/api/helpers/TransactionValidator.ts
  src/api/helpers/UC4Identifier.ts
  src/components/common/Tag.vue
  src/components/common/dashboard/Dashboard.vue
  src/components/common/dashboard/OperationComponent.vue
  src/components/modals/DecryptPrivateKeyModal.vue
  src/use/helpers/OperationPrinter.ts
  src/views/admin/AllOperations.vue
  src/views/common/OperationsArchive.vue
  src/views/student/CourseInfoPage.vue
  src/views/student/Immatriculation.vue
  tests/e2e/courseAdmission.spec.ts
  tests/e2e/helpers/NavigationHelper.ts
  tests/e2e/immatriculationOperation.spec.ts
  tests/helper/MachineUserAuthenticationManagement.ts
  tests/unit/OperationId.spec.ts
  tests/unit/OperationPrinter.spec.ts
  tests/unit/api/admissionManagement.spec.ts
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/operationManagement.spec.ts
  tests/unit/proposalValidation.spec.ts
  tests/unit/transactionValidation.spec.ts
Labels: enhancement, experimental, refactor, vue

#853 Release v0.18.0 on Dev
  CHANGELOG.md
  package.json
Labels: release, vue

#852 Release v0.18.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/api/AdmissionManagement.ts
  src/api/CourseManagement.ts
  src/api/MatriculationManagement.ts
  src/api/OperationManagement.ts
  src/api/abstractions/FrontendSigning.ts
  src/api/api_models/operation_management/Operation.ts
  src/api/contracts/AbstractTransaction.ts
  src/api/contracts/ChaincodeUtility.ts
  src/api/contracts/admission/transactions/AddAdmission.ts
  src/api/contracts/admission/transactions/DropAdmission.ts
  src/api/contracts/matriculation/transactions/AddEntries.ts
  src/api/contracts/matriculation/transactions/AddMatriculation.ts
  src/api/contracts/matriculation/transactions/GeneralMatriculationTransactionWrapper.ts
  src/api/contracts/matriculation/transactions/UpdateMatriculation.ts
  src/api/contracts/operation/transactions/ApproveOperation.ts
  src/api/contracts/operation/transactions/RejectOperation.ts
  src/api/helpers/OperationValidator.ts
  src/api/helpers/ProposalPayloadValidator.ts
  src/api/helpers/TransactionValidator.ts
  src/api/helpers/UC4Identifier.ts
  src/assets/logo/logo_inverse.svg
  src/assets/logo/logo_short_title_right.svg
  src/components/common/Tag.vue
  src/components/common/dashboard/Dashboard.vue
  src/components/common/dashboard/OperationComponent.vue
  src/components/modals/DecryptPrivateKeyModal.vue
  src/components/modals/DeleteAccountModal.vue
  src/components/modals/DeleteCourseModal.vue
  src/components/modals/DeleteOwnAccountModal.vue
  src/components/modals/DeleteProfilePictureModal.vue
  src/components/modals/EncryptPrivateKeyModal.vue
  src/components/modals/LoginModal.vue
  src/components/modals/Modal.vue
  src/components/modals/ModalNoTeleport.vue
  src/components/modals/UnsavedChangesModal.vue
  src/components/navigation/navbar/mobile/common/BaseNavbar.vue
  src/use/helpers/OperationPrinter.ts
  src/views/admin/AllOperations.vue
  src/views/common/OperationsArchive.vue
  src/views/shared/EditCreateCourseForm.vue
  src/views/student/CourseInfoPage.vue
  src/views/student/Immatriculation.vue
  tests/e2e/courseAdmission.spec.ts
  tests/e2e/helpers/NavigationHelper.ts
  tests/e2e/immatriculationOperation.spec.ts
  tests/helper/MachineUserAuthenticationManagement.ts
  tests/unit/OperationId.spec.ts
  tests/unit/OperationPrinter.spec.ts
  tests/unit/api/admissionManagement.spec.ts
  tests/unit/api/courseManagement.spec.ts
  tests/unit/api/operationManagement.spec.ts
  tests/unit/proposalValidation.spec.ts
  tests/unit/transactionValidation.spec.ts
Labels: release, vue

#855 Bugfix: Update Navbar on Profile Pic Deletion
  src/components/profile/ProfilePictureSection.vue
Labels: bug, vue

#799 change display of the timestamp in the request data section
  CHANGELOG.md
  src/components/common/dashboard/OperationComponent.vue
  src/components/settings/RequestDataSection.vue
  src/use/helpers/DateFormatOptions.ts
Labels: refactor, vue

#837 reset year when semester type is changed. also removed unused functions.
  CHANGELOG.md
  src/views/student/Immatriculation.vue
Labels: bug

#851 student course list restrictions
  CHANGELOG.md
  src/components/course/list/student/CourseList.vue
  src/components/course/list/student/StudentCourse.vue
  src/views/student/StudentCourseList.vue
Labels: enhancement, refactor, vue

#856 Feature/show enrollment id secret
  CHANGELOG.md
  src/components/modals/DeleteOwnAccountModal.vue
  src/components/settings/RequestDataSection.vue
  tests/e2e/deleteOwnAccount.spec.ts
  tests/e2e/gdpr.spec.ts
Labels: enhancement, vue

#861 Hotfix v0.18.0-hotfix.1
  CHANGELOG.md
  package.json
  src/components/course/list/student/CourseList.vue
Labels: bug, release, vue

#862 Hotfix v0.18.0-hotfix.1 on Dev
  CHANGELOG.md
  package.json
  src/components/course/list/student/CourseList.vue
Labels: bug, release, vue

#858 Bugfix/certificate cancel
  CHANGELOG.md
  src/components/modals/EncryptPrivateKeyModal.vue
  src/components/settings/CertificateSection.vue
Labels: bug, vue

#859 Verify Peer Endorsement Signature
  CHANGELOG.md
  src/api/api_models/common/Transaction.ts
  src/api/contracts/AbstractTransaction.ts
  src/api/helpers/TransactionDecoding.ts
  src/use/crypto/signing.ts
  tests/unit/transactionSigning.spec.ts
Labels: vue

#869 Dashboard Darkmode
  CHANGELOG.md
  src/components/common/dashboard/Dashboard.vue
  src/components/common/dashboard/DashboardComponent.vue
  src/components/common/dashboard/OperationComponent.vue
  src/views/admin/AllOperations.vue
  src/views/common/OperationsArchive.vue
  src/views/common/Welcome.vue
Labels: refactor, visual, vue

#872 Release v0.19.0
  CHANGELOG.md
  package.json
  src/api/ReportManagement.ts
  src/api/api_models/common/Transaction.ts
  src/api/contracts/AbstractTransaction.ts
  src/api/helpers/TransactionDecoding.ts
  src/assets/styles/utilities/links.css
  src/components/account/edit/sections/Immatriculation.vue
  src/components/common/dashboard/Dashboard.vue
  src/components/common/dashboard/DashboardComponent.vue
  src/components/common/dashboard/OperationComponent.vue
  src/components/common/immatriculation/ImmatriculationHistory.vue
  src/components/common/immatriculation/ImmatriculationHistoryEntry.vue
  src/components/course/list/student/CourseList.vue
  src/components/course/list/student/StudentCourse.vue
  src/components/modals/DeleteOwnAccountModal.vue
  src/components/modals/EncryptPrivateKeyModal.vue
  src/components/profile/ProfilePictureSection.vue
  src/components/profile/student/StudentInformationSection.vue
  src/components/settings/CertificateSection.vue
  src/components/settings/RequestDataSection.vue
  src/use/crypto/signing.ts
  src/use/helpers/DateFormatOptions.ts
  src/views/admin/AllOperations.vue
  src/views/common/OperationsArchive.vue
  src/views/common/Welcome.vue
  src/views/student/Immatriculation.vue
  src/views/student/StudentCourseList.vue
  tests/e2e/deleteOwnAccount.spec.ts
  tests/e2e/gdpr.spec.ts
  tests/unit/api/operationManagement.spec.ts
  tests/unit/transactionSigning.spec.ts
Labels: release, vue

#871 Release v0.19.0 on Dev
  CHANGELOG.md
  package.json
Labels: release, vue
